@font-face {
  font-family: Segoe;
  src: url(../fonts/segoe-ui/SegoeUI.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-drop-shadow {
    filter: drop-shadow(14px 34px 80px #00000014);
    /* drop-shadow(55px 135px 146px #0000000a)
      drop-shadow(124px 305px 197px #00000008)
      drop-shadow(220px 542px 234px #00000003)
      drop-shadow(343px 846px 256px #00000000); */
  }
  .flex-container--fill {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  }
}

/* Font Name Reference */

/* font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sora', sans-serif; */
